In [1]:
import pandas as pd

In [51]:
df=pd.read_csv("Heart.csv")
df

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,299,45,1,typical,110,264,0,0,132,0,1.2,2,0.0,reversable,Yes
299,300,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2.0,reversable,Yes
300,301,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1.0,reversable,Yes
301,302,57,0,nontypical,130,236,0,2,174,0,0.0,2,1.0,normal,Yes
302,303,38,1,nonanginal,138,175,0,0,173,0,0.0,1,NaN,normal,No

In [52]:
df=df.drop(columns='Unnamed: 0')

In [53]:
df

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,45,1,typical,110,264,0,0,132,0,1.2,2,0.0,reversable,Yes
299,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2.0,reversable,Yes
300,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1.0,reversable,Yes
301,57,0,nontypical,130,236,0,2,174,0,0.0,2,1.0,normal,Yes
302,38,1,nonanginal,138,175,0,0,173,0,0.0,1,NaN,normal,No

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Age        303 non-null    int64
 1   Sex        303 non-null    int64
 2   ChestPain  303 non-null    object
 3   RestBP     303 non-null    int64
 4   Chol       303 non-null    int64
 5   Fbs        303 non-null    int64
 6   RestECG    303 non-null    int64
 7   MaxHR      303 non-null    int64
 8   ExAng      303 non-null    int64
 9   Oldpeak    303 non-null    float64
 10  Slope      303 non-null    int64
 11  Ca         299 non-null    float64
 12  Thal       301 non-null    object
 13  AHD        303 non-null    object
dtypes: float64(2), int64(9), object(3)
memory usage: 33.3+ KB

In [55]:
df['ChestPain']=df['ChestPain'].astype('category')
df['ChestPain']=df['ChestPain'].cat.codes
df

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,63,1,3,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,67,1,0,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,67,1,0,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,37,1,1,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,41,0,2,130,204,0,2,172,0,1.4,1,0.0,normal,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,45,1,3,110,264,0,0,132,0,1.2,2,0.0,reversable,Yes
299,68,1,0,144,193,1,0,141,0,3.4,2,2.0,reversable,Yes
300,57,1,0,130,131,0,0,115,1,1.2,2,1.0,reversable,Yes
301,57,0,2,130,236,0,2,174,0,0.0,2,1.0,normal,Yes
302,38,1,1,138,175,0,0,173,0,0.0,1,NaN,normal,No

In [56]:
df.isnull().sum()

Age          0
Sex          0
ChestPain    0
RestBP       0
Chol         0
Fbs          0
RestECG      0
MaxHR        0
ExAng        0
Oldpeak      0
Slope        0
Ca           4
Thal         2
AHD          0
dtype: int64

In [57]:
df=df.dropna()

In [59]:
#Convert category to numeric 
df['Thal']=df['Thal'].astype('category')
df['Thal']=df["Thal"].cat.codes
df

C:\Users\parsi\AppData\Local\Temp\ipykernel_8952\3228476713.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Thal']=df['Thal'].astype('category')
C:\Users\parsi\AppData\Local\Temp\ipykernel_8952\3228476713.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Thal']=df["Thal"].cat.codes

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,63,1,3,145,233,1,2,150,0,2.3,3,0.0,0,No
1,67,1,0,160,286,0,2,108,1,1.5,2,3.0,1,Yes
2,67,1,0,120,229,0,2,129,1,2.6,2,2.0,2,Yes
3,37,1,1,130,250,0,0,187,0,3.5,3,0.0,1,No
4,41,0,2,130,204,0,2,172,0,1.4,1,0.0,1,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
297,57,0,0,140,241,0,0,123,1,0.2,2,0.0,2,Yes
298,45,1,3,110,264,0,0,132,0,1.2,2,0.0,2,Yes
299,68,1,0,144,193,1,0,141,0,3.4,2,2.0,2,Yes
300,57,1,0,130,131,0,0,115,1,1.2,2,1.0,2,Yes
301,57,0,2,130,236,0,2,174,0,0.0,2,1.0,1,Yes

In [61]:
df

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,63,1,3,145,233,1,2,150,0,2.3,3,0.0,0,No
1,67,1,0,160,286,0,2,108,1,1.5,2,3.0,1,Yes
2,67,1,0,120,229,0,2,129,1,2.6,2,2.0,2,Yes
3,37,1,1,130,250,0,0,187,0,3.5,3,0.0,1,No
4,41,0,2,130,204,0,2,172,0,1.4,1,0.0,1,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
297,57,0,0,140,241,0,0,123,1,0.2,2,0.0,2,Yes
298,45,1,3,110,264,0,0,132,0,1.2,2,0.0,2,Yes
299,68,1,0,144,193,1,0,141,0,3.4,2,2.0,2,Yes
300,57,1,0,130,131,0,0,115,1,1.2,2,1.0,2,Yes
301,57,0,2,130,236,0,2,174,0,0.0,2,1.0,1,Yes

In [62]:
X=df.drop(columns='AHD')
X

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal
0,63,1,3,145,233,1,2,150,0,2.3,3,0.0,0
1,67,1,0,160,286,0,2,108,1,1.5,2,3.0,1
2,67,1,0,120,229,0,2,129,1,2.6,2,2.0,2
3,37,1,1,130,250,0,0,187,0,3.5,3,0.0,1
4,41,0,2,130,204,0,2,172,0,1.4,1,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
297,57,0,0,140,241,0,0,123,1,0.2,2,0.0,2
298,45,1,3,110,264,0,0,132,0,1.2,2,0.0,2
299,68,1,0,144,193,1,0,141,0,3.4,2,2.0,2
300,57,1,0,130,131,0,0,115,1,1.2,2,1.0,2
301,57,0,2,130,236,0,2,174,0,0.0,2,1.0,1

In [63]:
y=df['AHD']

In [64]:
y

0       No
1      Yes
2      Yes
3       No
4       No
      ...
297    Yes
298    Yes
299    Yes
300    Yes
301    Yes
Name: AHD, Length: 297, dtype: object

In [65]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=21)

In [66]:
X_train

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal
182,42,1,3,148,244,0,2,178,0,0.8,1,2.0,1
279,58,0,0,130,197,0,0,131,0,0.6,2,0.0,1
120,48,1,0,130,256,1,2,150,1,0.0,1,2.0,2
77,51,0,1,140,308,0,2,142,0,1.5,1,1.0,1
15,57,1,1,150,168,0,0,174,0,1.6,1,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,50,1,1,129,196,0,0,163,0,0.0,1,0.0,1
121,63,0,0,150,407,0,2,154,0,4.0,2,3.0,2
48,65,0,1,140,417,1,2,157,0,0.8,1,1.0,1
263,44,1,1,120,226,0,0,169,0,0.0,1,0.0,1
210,37,0,1,120,215,0,0,170,0,0.0,1,0.0,1

In [67]:
X_test

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal
61,46,0,1,142,177,0,2,160,1,1.4,3,0.0,1
220,41,0,1,112,268,0,2,172,1,0.0,1,0.0,1
55,54,1,0,124,266,0,2,109,1,2.2,2,1.0,2
245,67,1,0,120,237,0,0,71,0,1.0,2,0.0,1
96,59,1,0,110,239,0,2,142,1,1.2,2,1.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,58,1,1,140,211,1,2,165,0,0.0,1,0.0,1
117,35,0,0,138,183,0,0,182,0,1.4,1,0.0,1
211,38,1,3,120,231,0,0,182,1,3.8,2,0.0,2
274,59,1,3,134,204,0,0,162,0,0.8,1,2.0,1
218,64,0,0,130,303,0,0,122,0,2.0,2,2.0,1

In [69]:
from sklearn.preprocessing import StandardScaler

In [70]:
scaler=StandardScaler()

In [71]:
X_train_scaled=scaler.fit_transform(X_train)

In [72]:
X_test_scaled=scaler.transform(X_test)

In [74]:
X_train_scaled

array([[-1.30729103,  0.68416745,  2.32110644, ..., -0.99605521,
         1.49526919, -0.56627356],
       [ 0.41222759, -1.46163047, -0.87491817, ...,  0.64032121,
        -0.69991324, -0.56627356],
       [-0.66247155,  0.68416745, -0.87491817, ..., -0.99605521,
         1.49526919,  1.15752977],
       ...,
       [ 1.16451699, -1.46163047,  0.19042337, ..., -0.99605521,
         0.39767798, -0.56627356],
       [-1.09235121,  0.68416745,  0.19042337, ..., -0.99605521,
        -0.69991324, -0.56627356],
       [-1.84464061, -1.46163047,  0.19042337, ..., -0.99605521,
        -0.69991324, -0.56627356]])

In [75]:
X_test_scaled

array([[-0.87741138, -1.46163047,  0.19042337, ...,  2.27669763,
        -0.69991324, -0.56627356],
       [-1.41476095, -1.46163047,  0.19042337, ..., -0.99605521,
        -0.69991324, -0.56627356],
       [-0.01765206,  0.68416745, -0.87491817, ...,  0.64032121,
         0.39767798,  1.15752977],
       ...,
       [-1.73717069,  0.68416745,  2.32110644, ...,  0.64032121,
        -0.69991324,  1.15752977],
       [ 0.51969751,  0.68416745,  2.32110644, ..., -0.99605521,
         1.49526919, -0.56627356],
       [ 1.05704708, -1.46163047, -0.87491817, ...,  0.64032121,
         1.49526919, -0.56627356]])

In [76]:
from sklearn.linear_model import LogisticRegression

In [77]:
log_reg=LogisticRegression(random_state=0).fit(X_train_scaled,y_train) #fit scled data

In [79]:
log_reg.predict(X_train_scaled) #if we give X_train it predict y_train

array(['No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No',
       'Yes', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'Yes', 'No',
       'No', 'No', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'No',
       'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'No',
       'Yes', 'No', 'Yes', 'Yes', 'No', 'No', 'Yes', 'No', 'No', 'Yes',
       'Yes', 'No', 'Yes', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes',
       'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'Yes',
       'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'Yes',
       'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'Yes', 'No', 'Yes',
       'Yes', 'Yes', 'No', 'No', 'No', 'Yes', 'No', 'Yes', 'Yes', 'No',
       'No', 'No', 'Yes', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No',
       'Yes', 'No', 'Yes', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No',
       'No', 'No', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'No',
       'Yes', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'No',
       'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes', 'No', 'No', 'No', 'No',
       'Yes', 'No', 'Yes', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes',
       'No', 'No', 'No', 'Yes', 'No', 'Yes', 'No', 'Yes', 'No', 'No',
       'No', 'Yes', 'No', 'Yes', 'Yes', 'No', 'Yes', 'Yes', 'No', 'No',
       'No', 'Yes', 'No', 'No', 'No'], dtype=object)

In [80]:
log_reg.score(X_train_scaled,y_train)

0.8888888888888888

In [81]:
log_reg.score(X_test_scaled,y_test)

0.8